@charset "UTF-8";

@font-face {
    font-family: 'Poppins-Black';
    src:"../fonts/Poppins-Black.ttf";
}

body,html {
    background-color: #65a765;
    div{
        padding-top: 50px;
    }
    font-family: 'Poppins-Black';
}
button{
    margin:20px 0  20px 0;
}


#one_label, #two_label{
    background-color: #cdffcd;
    img{
        padding-top:20px;
        border-radius: 50%;
    }
    border-radius: 20%;
    input{        
        border-color: black;   
    }
    p{
        font-size: 20px;
        font-family: 'Poppins-Black';
    }
}
